<h1>Memur</h1>
<div class="user-account">
  <%= link_to("Register", "/users/new") %>
</div>
<%= link_to("Add a New Meme", "/memes/new") %>

<% if flash.any? %>
  <% flash.each do |key, value| %>
    <h3 class="<%= key %>">
      <%= value %>
    </h3>
  <% end %>
<% end %>

<% @memes.each do |meme| %>
  <p>Title: <%= meme.title %></p>
  <%= link_to(image_tag(meme.url), "/memes/#{meme.id}") %>
<% end %>

<h1>Most recent memes</h1>
<ul>
  <% @most_recent_memes.each do |meme| %>
    <li><%= link_to meme.title, "/memes/#{meme.id}" %></li>
  <% end %>
</ul>

<h1>From 2016</h1>
<ul>
  <% @created_in_year_2016.each do |meme| %>
    <li><%= link_to meme.title, "/memes/#{meme.id}" %></li>
  <% end %>
</ul>

<h1>From 2015</h1>
<ul>
  <% @created_in_year_2015.each do |meme| %>
    <li><%= link_to meme.title, "/memes/#{meme.id}" %></li>
  <% end %>
</ul>

<h1>From 2014</h1>
<ul>
  <% @created_in_year_2014.each do |meme| %>
    <li><%= link_to meme.title, "/memes/#{meme.id}" %></li>
  <% end %>
</ul>
